<!-- The nav.html is not used in the main Expage layout as much, 
     but keeping it for other pages or as a fallback. 
     Updating it just in case. -->
<center>
    <table border="0" cellpadding="5">
        <tr>
            <td>★ <a href="{{ '/' | relative_url }}">Etusivu</a></td>
            <td>★ <a href="{{ '/yleista' | relative_url }}">Yleistä</a></td>
            <td>★ <a href="{{ '/hevoset/tallin-hevoset' | relative_url }}">Hevoset</a></td>
            <td>★ <a href="{{ '/vieraskirja' | relative_url }}">Vieraskirja</a></td>
            <td>★ <a href="{{ '/copyt' | relative_url }}">Copyt</a></td>
        </tr>
    </table>
</center>