<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/retro.css' | relative_url }}">
</head>

<body class="theme-{{ page.theme | default: 'default' }}">

  <center>
    <div style="max-width: 800px; padding: 20px;">
      <div class="main-content">
        {{ content }}
      </div>
    </div>
  </center>

  <center>
    <img class="divider-icon" src="{{ '/assets/img/footer-divider.gif' | relative_url }}" alt="Footer Divider">
    <div class="footer-info">
      <p><a href="{{ '/' | relative_url }}">Etusivulle</a></p>
      Tämä on virtuaali!!
    </div>
  </center>

</body>

</html>